<section class="bg-gray-100 flex pt-8  max-h-fit">
  <div class="bg-gray-900 text-gray-50 p-8 rounded-lg shadow-lg max-w-md w-full text-center">
    <h1 class="text-4xl font-bold text-amber-400 mb-6"><%= title %></h1>
    <p class="text-lg mb-4"><%=cause%></p>
    <p class="text-lg mb-6">It might have been moved or deleted. Go back to the <a href="/" class="text-amber-400 hover:text-amber-300 font-semibold">home page</a> or use the navigation bar on the left to find what you're looking for.</p>
  </div>
</section>
