<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>ComiKing</h1>
      </div>
    <header>
    <aside class="col-sm-2">
      <%- include('./sidebar') %>
    </aside>
    <main class="col-sm-10">
      <%- body %>
    </main>
    <footer>
      <p>
        Copyright©Tirso Samalungo (<a href="https://github.com/GreyTearsDev">GreyTearsDev</a>)
        </p>
    <footer>
  </body>
</html>
