
<div>
  <h3 class="font-bold">CATALOG</h3>
  <ul>
    <li><a href="/catalog/comics">All comics</a></li>
    <li><a href="/catalog/authors">All authors</a></li>
    <li><a href="/catalog/genres">All genres</a></li>
    <li><a href="/catalog/publishers">All publishers</a></li>
  </ul>
</div>

<div>
  <h3 class="font-bold">MANAGE CATALOG</h3>
  <ul>
    <li><a href="/catalog/comic/create">Add new comic</a></li>
    <li><a href="/catalog/author/create">Add new author</a></li>
    <li><a href="/catalog/genre/create">Add new genre</a></li>
    <li><a href="/catalog/publisher/create">Add new publisher</a></li>
  </ul>
</div>
