<h1><%= title %></h1>
<article>
  <p><strong>Title</strong>: <%= volume.title %></p>
  <p><strong>Description</strong>: <%= volume.description %></p>
  <p><strong>Release Date</strong>: <%= volume.date_formatted %></p>
</article>
